<h3>Press button to display a list with product names.</h3>
<button class="button" (click)="fetchProducts()">Press me</button>

<hr>

<table class="table table-striped">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Брэнд</th>
                    <th>Цена</th>
                    <th>Оценка</th>
                    <th>Ссылка</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products$">
                    <td>{{ item.name }}</td>
                    <td>{{ item.brand }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.stars }}</td>
                    <td><a href="{{ item.link }}" target="_blank" alt="product on amazon">on amazon.co.uk</a></td>
                </tr>
            </tbody>
        </table>

